#Enrool_top{
	height: 90px;
	line-height: 90px;
	border-bottom: 5px solid #24201d;
	overflow: hidden;
}
#top_c{
		width: 1200px;
		margin: 0 auto;
}
#top_c div:first-child{
	float: left;
	height: 90px;
	overflow: hidden;
}
#top_c div:last-child{
	font: 12px/90px "微软雅黑";
	color: #a1a1a1;
	float: right;
}
#top_c a{
	color:#a1a1a1 ;
}
#Rpassword{
	width: 1200px;
	margin: 0 auto ;
	background-color: #ffffff;
	padding-bottom: 80px;
	
}
#idcode{
	line-height: 31px;

}
#u_number {
	
	position: relative;
	
}
#u_tip{
	top: 230px;
	left: 15px;
	
}
#ehong-code{
	padding: 5px 5px;
}
#idcode #ehong-code{
	height: 28px;
	line-height: 28px;
}
#Rpassword{
	position: relative;
}
#idcode #ehong-code{
	height: 28px;
}
#R_head{
	height: 85px;
	font: 16px/56px "微软雅黑";
	color: #333333;
	margin-left: 20px;
}
#Txtidcode{
	margin-right: 5px;
}

#R_progress{
	height: 60px;
	width: 1110px;
	margin: 0 auto;
}

#u_number span{
	
	color: #494949;
	font-size: 14px;
}
#u_number input{
	width: 160px;
	height: 25px;
	border: 1px solid #cccccc;
	margin-right: 10px;
	padding: 0 5px;
}
#V_code{
	position: relative;
	
}
#V_code>div{
	
	float: left;
	font: 14px "微软雅黑";
	line-height: 26px;
	color: #333333;
}
#Rpassword_bg{
	background-color: #f5f5f5;
}
.v_tip{
	color: red;
	font-size: 16px;
	padding-left: 400px;
	position: absolute;
	margin-bottom: 20px;
	display: none;
}
#mimatishi{
	margin-top: -25px;
}
.e_tip{
	color: red!important;
	margin-bottom: 20px;
	position: absolute;
	font-size: 18px;
	display: none;
	margin-left: 100px;
	
}
#Rpassword #next_step{
	margin-top: 65px;
}
#sent_e{
	margin-top: 50px;
}
#V_code input{
	width: 60px;
	height:26px ;
	border: 1px solid #cccccc;
	padding: 0 5px;
	margin-right: 10px;
	
}
#V_code>div:last-child:hover{
		cursor: pointer;
}

#V_code>div:last-child{
	
	color: #495abe;
}



#V_code>div:nth-of-type(3){
	margin:  0 5px;
}


#V_code,#u_number{
	margin:0 0  40px 357px;
	overflow: hidden;
}
#u_number{
	margin-top: 50px;
}
#next_step{
	display: block;
	margin-left:415px ;
	width: 102px;
	height: 28px;
	border: 1px solid #b0da91;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
	color: #333333;
	background-color: #f5ffee;
}

#style_head{
	height: 37px;
	border-bottom: 1px solid #dddddd;
	margin: 48px 0 0 46px;
}
#style_head>div:hover{
	cursor: pointer;
}
#style_head>div{
	float: left;
	padding: 0 10px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	border: 1px solid #dddddd;
	margin-right: 10px;
	border-bottom: none;
}


#style_head>div.curtab{
	border-bottom: 1px solid #ffffff;
	color: #c1b497;
	
	
}
#email_get{
	margin-top: 32px;
	padding-bottom: 50px;
}
#email_get >div{
	font: 14px "微软雅黑";
	color: #333333;
}

#email_get >div:nth-of-type(2){
	padding-left: 10px;
	background:url(../img/indent/xx_03.jpg) no-repeat top left ;
	margin: 40px 0 30px 90px;
	
}

#email_get>div:last-child:hover{
	cursor: pointer;

}
#email_get>div:first-child{
	margin-left: 100px;
	
}
#email_get>div:last-child{
	width:158px ;
	height:28px ;
	text-align: center;
	line-height: 28px;
	border: 1px solid #b0da91;
	background-color: #f5ffee;
	font-size: 14px;
	margin-left: 100px;
}
#phone_get{
	margin-top: 32px;
	padding-bottom: 43px;
}
#phone_get >div{
	font: 14px "微软雅黑";
	color: #333333;
}

#phone_get >div:nth-of-type(2){
	padding-left: 10px;
	background:url(../img/indent/xx_03.jpg) no-repeat top left ;
	margin: 40px 0 30px 90px;
	
}

#phone_get>div:first-child{
	margin-left: 100px;
	
}
#phone_get .mob_user{
	margin-left: 100px;
	font: 14px "微软雅黑";
	color: #333333;
}
#phone_get .mob_mob{
	padding-left: 10px;
	background:url(../img/indent/xx_03.jpg) no-repeat top left ;
	margin: 40px 0 30px 90px;
	font: 14px "微软雅黑";
	color: #333333;
}
#user_z{
	margin-left: 100px;
	font: 14px "微软雅黑";
	color: #333333;
}
#email_get .email_z{
	padding-left: 10px;
	background:url(../img/indent/xx_03.jpg) no-repeat top left ;
	margin: 40px 0 30px 90px;
	font: 14px "微软雅黑";
	color: #333333;
}
#sendemail{
	width:158px ;
	height:28px ;
	text-align: center;
	line-height: 28px;
	border: 1px solid #b0da91;
	background-color: #f5ffee;
	font-size: 14px;
	margin-left: 30px;
	float: left;
}
.my_ggtip.e_tip{
	top:410px; 
}
#email_captcha{
	float: left;
}
#sendemail:hover{
	cursor: pointer;
}
#code_nextstep1:hover{
	cursor: pointer;
}
#code_nextstep1{
	clear: both;
	width: 102px;
    margin: 100px 0 0 100px;
    height: 28px;
    background-color: #f5ffee;
    border: 1px solid #b0da91;
    text-align: center;
    line-height: 28px;

}
.sda{
	float: left;
}
.sda input{
	margin-left: 100px;
	margin-bottom: 20px
}
.bb input{
	margin-left: 100px;
	margin-top:20px;
}
#get_code{
	overflow: hidden;
	margin-left: 90px;
	font: 14px "微软雅黑";
	color: #333333;
}


#get_code>div{
	float: left;
	line-height: 26px;
}
#get_code>div:first-child{
	padding-left: 10px;
	background:url(../img/indent/xx_03.jpg) no-repeat top left ;
	
}
#get_code>div input{
	margin: 0 4px 0 9px;
	width:160px ;
	height:26px ;
	border: 1px solid #cccccc;
	background-color: #fafafa;
	padding: 0 5px;
	
}
#get_code>div:last-child:hover{
	cursor: pointer;
}
#get_code>div:last-child{
	
	
	width: 132px;
	height:26px ;
	border: 1px solid #cccccc;
	text-align: center;
	line-height: 26px;
	background-color: #fafafa;
	
	
	
}

#code_nextstep:hover{
	cursor: pointer;
}
#style_content  #code_nextstep{
	width:102px ;
	margin: 40px 0 0 190px;
	height: 28px;
	background-color: #f5ffee;
	border: 1px solid #b0da91;
	text-align: center;
	line-height: 28px;
}

#set_password{
	
	margin-top: 50px;
	padding:0  0 95px 362px;
}

#set_password span{
	padding-left: 10px;
	background: url(../img/indent/xx_03.jpg) no-repeat top left;
	font-size: 14px;
	color: #333333;
	
}

#set_password input{
	width:160px ;
	height:26px ;
	border: 1px solid #cccccc;
	background-color: #fafafa;
	padding: 0 5px;
	
}

#set_password>div:first-child{
	margin:0 0 40px 25px;
	font-size: 14px;
	
}
#set_password>div:nth-of-type(2){
	
	
	margin: 0 0 30px 15px;
	
	
	
	
}
#next_step3{
	display: block;
	width: 102px;
	height: 28px;
	border: 1px solid #b0da91;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
	margin:  40px 0 0 80px;
	color: #333333;
	background-color: #f5ffee;
	
}



#step_suc{
	margin-top: 105px;
	padding-bottom: 195px;
	
}


#step_suc>div{
	width: 240px;
	height: 55px;
	padding-left: 92px;
	margin: 0 auto;
	background: url(../img/Enroll/dalvg_07.jpg) no-repeat left;
}


#suc_password div:first-child{
	font: 18px "微软雅黑";
	color: #85c264;
}


#suc_password span{
	
	font: 16px "微软雅黑";
	color: #666666;
	margin-right: 10px;
}
#suc_password a{
	
	font: 16px "微软雅黑";
	color: #85c264;
	
}







