.expires{
	width: 1200px;
	margin:18px  auto 50px;
}
.clock{
	position: relative;
	overflow: hidden;
	border: 1px solid #ececec;
	border-top: 3px solid #c1b497;
	width: 908px;
	height: 340px;
	float: left;
}
.clock .beforeup{
	top: 50%;
	position: absolute;
	content: "";
	display: block;
	width: 27px;
	height:55px ;
	background-image: url(../img/allimg/right_03.png);
	left: 0;
	transform: translateY(-50%);
}
.goods_titinfo{
	overflow: hidden;text-overflow:ellipsis;white-space:nowrap
}
.clock .afterdow{
	transform: translateY(-50%);
	top: 50%;
	position: absolute;
	content: "";
	display: block;
	width: 27px;
	height:55px ;
	background-image: url(../img/allimg/images/right_05.png);
	right: 0;
}
.floor_product p{
	overflow: hidden; /*自动隐藏文字*/
	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
	white-space: nowrap;/*强制不换行*/
}
.clock_head{
	height: 34px;
	border-bottom:1px solid #ececec ;
	padding-left: 10px;
	line-height: 34px;
}
.clock_head_l{
	float: left;
}
.content_list>ul{
	display: none;
	
}
.content_list>ul.show_cont{
	display: block;
}


.clock_head_l  img{
	vertical-align: text-bottom;
	margin-right: 10px;
}
.clock_head_l span{
	font-size: 16px;
} 


.select_product>ul{
	display: none;
}
.select_product>ul:first-child{
	display: block;
}
.clock_head_r{
	float: right;
	height: 10px;
	margin-top: 13px;
	
}
.r1_nav>div{
	display: none;
}

.r1_nav>div:first-child{
	display: block;
}
.r2_nav>div{
	display: none;
}

.r2_nav>div:first-child{
	display: block;
}
.r3_nav>div{
	display: none;
}

.r3_nav>div:first-child{
	display: block;
}
.clock_head_r div{
	width: 10px;
	height: 10px;
	background-color:#cccccc ;
	float: left;
	margin-right: 20px;
}
.clock_head_r div:hover{
	cursor: pointer;
}
.clock_head_r div.listcurrent{
	background-color: #c1b497;
}
.content_list{
	overflow: hidden;
	padding: 0 20px;
}
.content_list >ul{
	width: 100%;
}
.content_list >ul >li{
	width: 173px;
	height: 300px;
	float: left;
	margin-top: 10px;
}
.content_list >ul >li a{
	display: block;
	width: 173px;
	height: 300px;
}

.content_list li div:first-child{
	height: 190px;
	
} 
.content_list >ul >li p{
	line-height: 22px;
}
.content_list >ul >li p:nth-of-type(-n+2){
	font: 12px "微软雅黑";
	
}
.content_list >ul >li p:nth-of-type(2){
	font: 18px "微软雅黑";
	color: #d00100;
	
}
.content_list >ul >li p:nth-of-type(3){
	font: 12px "微软雅黑";
	color: #999999;
	margin-top:20px;
	
}
.content_list >ul >li p:nth-of-type(3) span{
	color: #d00100;
}
.expires_content{
	overflow: hidden;
	
	
}
.today li{
	display: none;
}
.today li.today_show{
	display: block;
}
.notice{
	width: 270px;
	height:340px;
	float: right;		
}
.notice_top{
	width: 268px;
	border: 1px solid #ececec;
	height: 160px;
	overflow: hidden;
	margin-bottom: 20px;
}
.today{
	position: relative;
	width: 100%;
}
.notice_nav{
	position: absolute;
	overflow: hidden;
	left:25px;
	bottom:15px;
}
.notice_li{
	display: block;
	width:10px ;
	height:10px;
	background-color:#cccccc ;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}
.notice_li.current{
	background-color:#c1b497 ;
}
.notice_bottom{
	width: 267px;
	height: 158px;
	border: 1px solid #ececec;
}
.notice_bottom_content>div{
	display: none;
}
.notice_bottom_content>div.notice_show{
	display: block;
}

.notice_bottom_head{
	height: 35px;
	background-color: ##f9f9f9;
}
.notice_tab:last-child{
	border-right: none;
}
.notice_tab{
	font: 16px "微软雅黑";
	width: 132px;
	float: left;
	text-align: center;
	height: 35px;
	line-height: 35px;
	border: 1px solid #ececec;
	background-color: #f9f9f9;
}
.notice_tab.current{
	border: none;	
	color:#c1b497 ;
	border-top:#c1b497 2px solid ;
	height: 37px;
	width: 132px;
}
.notice_bottom_content{
	width: 260px;
	padding-top:15px ;
	padding-left: 10px;
	padding-bottom: 12px;
}
.notice_bottom_content li{
	font: 12px "微软雅黑";
	padding-left: 10px;
	line-height: 20px;
	background: url(../img/allimg/dian_03.jpg) no-repeat left center;
	background-size: 4px;
}
.help_select_head{
	padding-top: 20px;
	height:35px;
	border-bottom: 3px solid #c1b497;
	line-height: 55px;
}
.help_select_head div:first-child{
	font: 18px "微软雅黑";
	border-left:3px solid #c1b497 ;
	padding-left: 10px;
	float: left;
	
}
.help__tab{
	float: right;
}
.help__tab >ul> li{
	float: left;
	height: 35px;
	line-height: 35px;
	width: 135px;
	text-align: center;
}
.help__tab >ul> li a{
	display: block;
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	width: 135px;
	text-align: center;
	
}
.help__tab_current{
	
	color: #ffffff;
	background-color: #c1b497;	
}
.select_product >ul >li{
	width:196px ;
	overflow: hidden;
	float: left;
	margin-bottom: 20px;
}
.select_product >ul >li> a{
	display: block;
	width: 196px;	
}
.select_product >ul>li> a>div:first-child{
	height: 170px;
	overflow: hidden;
	margin-bottom: 10px;
}
#move_img div{
	margin-top: 18px;
	font-size: 18px;
	color: #333333;
	
}
.pdc_info p:nth-of-type(-n+2){
	font: 12px "微软雅黑";
	line-height: 22px;
	
}
.pdc_info p:nth-of-type(3){
	
	font: 18px "微软雅黑";
	color: #d00100;
}
.select_product{
	padding-left: 20px;
	padding-bottom: 17px;
	overflow: hidden;
	padding-top: 25px;
	border: 1px solid #ececec;
	border-top: none;
}
.scroll_img {
	padding-top: 50px;
	height: 140px;
	position: relative;
	overflow: hidden;
	margin-bottom: 50px;
}
.scroll_img li,.scroll_img li a{
	display: block;
	width: 200px;
	height: 140px;
}
.scroll_img li{
	float: left;
	text-align: center;
}
.point{
	display: block;
	width:30px ;
	height:60px ;
	position: absolute;
}
#point_l{
	background-image: url(../img/allimg/scr_l_03.jpg);
	left: 0;
	top: 70px;
}
#point_r{
	background-image: url(../img/allimg/sri_r_03.jpg);
	right: 0;
	top: 70px;
}
.floor_title{
	height: 55px;
	border-bottom: 3px solid #c1b497;
	line-height: 55px;
}
.floor_title div:first-child{
	height: 45px;
	float: left;
	padding-left: 55px;
	background: url(../img/allimg/onefloor_07.jpg) no-repeat left center;
	font: 28px "微软雅黑";
	line-height: 45px;
}
.floor_content{
	height: 518px;
}
.floor_content > div{
	float: left;
	
}
.floor_content >div:nth-of-type(1){
	width:390px ;
	height:518px ;
	overflow: hidden;
}
.floor_title_r{
	float: right;
}
.floor_title_r >ul >li{
	float: left;
	margin-right: 20px;
}
.floor_content >div:nth-of-type(3){
	width:200px ;
	height:518px ;
	position: relative;
	overflow: hidden;
}
.floor_content >div:nth-of-type(3) >ul{
	position: absolute;
	right: 20px;
	top: 23px;
}

.floor_content >div:nth-of-type(3) >ul li{
	width: 7px;
	height: 7px;
	border: 1px solid #ffffff;
	float: left;
	margin-right: 10px;
}
.floor_content >div:nth-of-type(3) >ul li:hover{
	cursor: pointer;
	
}
.floor_content >div:nth-of-type(3) >ul li.fl_current{
	background-color: #c1b497;
}
.floor_product{
	width: 610px;
	height:518px ;
}
.floor_product li{
	width:190px;
	padding-left:10px;
	height: 258px;
	float: left;
	overflow: hidden;
}
.floor_product li a{
	display: block;
	width:202px;
	height: 258px;
}
.one_floor{
	margin-bottom: 20px;
	
}

.floor_product li:nth-of-type(1){
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}
.floor_product li:nth-of-type(2){
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}
.floor_product li:nth-of-type(3){
	border-bottom: 1px solid #ececec;
}
.floor_product li:nth-of-type(4){
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}
.floor_product li:nth-of-type(5){
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}
.floor_product li:nth-of-type(6){
	border-bottom: 1px solid #ececec;
}


.floor_product_info{
	margin-top: 10px;
}

.floor_product_info p{
	font: 12px "微软雅黑";
	line-height: 22px;
}
.floor_product_info p:last-child{
	font: 18px "微软雅黑" ;
	color: #d00100;
	
}
.floor_product div:first-child{
		overflow: hidden;
	height: 172px;
}
.two_floor .floor_title div:first-child{
	background-image: url(../img/allimg/tfl_03.jpg);
}
.two_floor{
	margin-bottom: 20px;
}
.three_floor .floor_title div:first-child{
	background-image:url(../img/allimg/th_29.jpg);
}
*{
	padding: 0;
	margin: 0;
}
.head{
	height: 36px;
	background-color: #f6f6f6;
	line-height: 36px;
	border-bottom: 1px solid #ded6d4;
}
ul,li{
	list-style: none;
}
.head_m{
	width: 1200px;
	margin: 0 auto;
}
a{
	color: black;
	text-decoration: none;
}
.head_m_l span:nth-of-type(-n+2){
	
		margin-right: 20px;
	
}
.head_m_l span{
	font: 12px "微软雅黑";
}
.head_m_l{
	float: left;
	
}
.head_m_r{
	float: right;
}
.phone_img  img{
	vertical-align: middle;
	
}
.phone span:nth-of-type(2){
		font: 16px "微软雅黑";
}
.phone span:nth-of-type(3){
		font:bold 16px "微软雅黑";
		color: #25211e;
}
.phone{
	float: left;
	margin-right: 28px;
}
.head_list{
	float: left;
	
}
.head_list li{
	float: left;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #7f7f7f;
	
}
.ge{
	margin: 0 10px;
}
.myd{
	position: relative;
}
.myd span{
	display: inline-block;
	width:8px ;
	height: 4px;
	background-image: url(../img/down_06.jpg);
}
.mbo{
	position: relative;
}
.mbo span{
	display: inline-block;
	width:8px ;
	height: 12px;
	background-image: url(../img/mb_06.jpg);
}
.fx{
	position: relative;
}
.fx img{
	vertical-align: middle;
}
.fx span{
	display: inline-block;
	width:8px ;
	height: 4px;
	background-image: url(../img/down_06.jpg);
}

.fx_hidden{
	position: absolute;
	width: 50px;
	height: 130px;
	border: 1px solid #d9d9d9;
	background-color: #ffffff;
	top: 33px;
	display: none;
}
.fx_hidden div{
	width: 100%;
	height:43px ;
}
.fx_hidden .xinlang a{
	background: url(../img/xl_03.png)  12px center no-repeat;
	display: block;
	width: 100%;
	height: 100%;
}
.fx_hidden .weixin a{
	background: url(../img/wx_03.png) center center no-repeat;
	display: block;
	width: 100%;
	height: 100%;
}
.fx_hidden .qqmsn a{
	background: url(../img/qq_03.png) center center no-repeat;
	display: block;
	width: 100%;
	height: 100%;
}

.fx_hidden div:hover{
	background-color: #c1b497;
}

.fx_hidden:before{
	content: "";
	position: absolute;
	width: 10px;
	height: 6px;
	background-image: url(../img/up_03.jpg);
	left:17px;
	top: -5px;
	
	
}
.title{
	width: 1200px;
	margin: 0 auto;
	height: 133px;
}
.title .logo{
	float: left;
	line-height: 133px;
	
}
.search{
	float: left;
	width: 425px;
	padding-top: 37px;
	margin-left: 60px;
	
}
.search_input{
	height:36px ;
	border: 2px solid #25211e;
	margin-bottom: 10px;
	
}
.search_input  input{
	width: 330px;
	height: 100%;
	float: left;
	border: none;
	padding-left: 10px;
}
.search_button{
	width: 81px;
	height: 36px;
	float: right;
	text-align: center;
	font: 14px "微软雅黑";
	line-height:36px;
	color: #ffffff;
	background: url(../img/1_22.jpg) no-repeat 8px 11px;
	background-color: #25211e;
}
.aboutsearch div,.aboutsearch li,.aboutsearch ul{
	float: left;
	
}
.aboutsearch div{
	margin-right: 10px;
	font: 12px "微软雅黑";
	color: #666666;
	/*margin-top:4px;*/
}
.aboutsearch  li{
	margin-right:15px ;
}
.aboutsearch  li a{
	font: 12px "微软雅黑";
	color: #999999;
}
.gobuy{
	margin-top: 37px;
	width:213px;
	height:34px;
	border: 1px solid #dddddd;
	float: right;
	margin-right: 20px;

}
.gobuy_l{
	width: 145px;
	height: 27px;
	float: left;
	padding-top: 7px;
}
.gobuy_r{
	width: 68px;
	height: 34px;
	background-color: #25211e;
	float: left;
	font: 14px "微软雅黑";
	color: #f5f5f5;
	text-align: center;
	line-height: 34px;
}
.gobuy_l div{
	margin-left: 10px;
	height: 21px;
	background:no-repeat ;
	background-image: url(../img/shopcarimg_19.jpg);
	padding-left: 25px;
	font: 12px "微软雅黑";
	color: #808080;
	line-height: 21px;
}
.nav{
	height:40px;
	background-color: #25211e;
	width: 100%;
	position: relative;
}
#move_img{
	overflow: hidden;
	position: absolute;
}
.binner{
	
	width: 100%;
	min-width: 1200px;
	background-color: black;
	position: relative;
	
}
 .nav_list{
	
	position: absolute;
	height: 40px;
	width: 1200px;
	left: 50%;
	z-index: 100;
	transform: translateX(-50%);
}
#allshop a{
	width:225px;
	text-align: left;
}



.nav_list li .alis{
	display: block;
	width: 139px;
	text-align: center;
	height: 100%;
	line-height: 40px;
	font-size:14px ;
	font-family: "微软雅黑";
	color: #c1b497;
	background-color: #25211e;
	
}
.nav_list li .alis:hover{
			background-color: #c1b497;
			color: white;
}
.nav img{
	margin-top: 40px;
}

.bottom_c_middle li a{
	
	font: 14px "微软雅黑";
	color: #727272;
	
}
.bottom_c_middle li {
	margin-bottom: 10px;
	
}
.bgc{
	background: url(../img/allimg/tmzj2.png) no-repeat 200px center;
}
.alis i{
	margin: 11px 10px 0 18px;
	display: inline-block;
	width:20px ;
	height:14px ;
	background: url(../img/allimg/tmzj1.png);
}
.bottom_nav{
	
	height: 390px;
		background-color: #f0f0f0;	
}
.bottom_c{
	width: 1200px;
	margin: 0 auto;
	height: 100%;
}
.bottom_c_head{
	height: 140px;
	border-bottom: 1px solid #c1b497;
}
.bottom_c_head ul{
	overflow: hidden;
	height: 100%;
}
.bottom_c_head li{
	float: left;
	width: 240px;
	height: 100%;
	line-height: 140px;
}
.bottom_c_head span{
	
	font: 24px "宋体";
	
}
.bottom_c_head img{
	margin-right: 20px;
	vertical-align: middle;
}
.bottom_c_middle > ul{
	margin-right: 38px;
	float: left;
	
}
.bottom_c_middle  ul li:first-child{
	font: 16px "微软雅黑";
	margin-bottom: 20px;
}
.nav_list li{
	float: left;
}
.ma{
	float: right;
	text-align: center;
	
}


.ma >div {
	float: left;
	
}
.ma div:nth-of-type(2){
	
	margin: 0 50px;
	
}
.bottom_c_middle{
	overflow: hidden;
	margin-top: 40px;
}
.di{
	height:80px ;
	background-color: #e6e6e6;
	overflow: hidden;
}
.di_c{
	width: 1200px;
	margin: 0 auto;
	height:80px;
}
.di_c div{
	float: left;
} 
.mg{
	width: 1px;
	height: 40px;
	background-color: #cccccc;
	margin: 20px 40px 0 40px;
	
}
.di_c p{
	font: 14px "微软雅黑";
	color: #717171;
}
.di_c p:first-child{
	margin-top: 20px;
	
}
.di_c .card{
	float: right;
	margin-top: 20px;
	
}
.card a{
	display: inline-block;
	width:108px ;
	height:40px ;
}
.card a:first-child{
	background-image: url(../img/pa1_16.jpg);
	margin-right: 20px;
}
.card a:last-child{
	background-image: url(../img/pa2_18.jpg);
}
.hidden{
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #ffffff;
	border: 2px solid #e6e6e6;
	box-shadow: 1px 1px 1px #808080;
	top: 34px;
	left: -13px;
	display: none;
	z-index: 1000;
}
.phonema{
	z-index: 1000;
}
.hidden div,.hidden a{
	display: block;
	padding: 0;
	margin: 0;
	height: 24px;
	padding-left: 5px;
	font:12px "微软雅黑" ;
	line-height: 24px;
	
}
.hidden div:hover >a{
	color: white;
	background-color: #c1b497;
}

.hidden:before{
	content: "";
	position: absolute;
	width: 10px;
	height: 6px;
	background-image: url(../img/up_03.jpg);
	left:11px;
	top: -6px;
}
.mbo div{
	position: absolute;
	width: 100px;
	height: 135px;
	background-image: url(../img/phonmma_06.jpg);
	border: 1px solid #e6e6e6;
	left: 5px;
	display: none;
}
.mbo div:before{
	content: "";
	position: absolute;
	width: 10px;
	height: 6px;
	background-image: url(../img/up_03.jpg);
	left:5px;
	top: -6px;
}
.allshop{
	position: relative;
}
.shop_hidden{
	position: absolute;	
	padding-bottom: 10px;
	background-color: #ffffff;
	border: 2px solid #c0b49a;
	width: 191px;
	padding: 20px 15px 0;
}
.shop_hidden  .list_name{
	
	font: 14px "宋体";
	color: #c5b99e;
	
}
.shop_hidden span{
	
	font: 12px "微软雅黑";
	margin-right: 5px;
	color: #808080;
	
}
.shop_hidden{
	display: none;
}
.shop_hidden div{
	line-height: 24px;
	
}
.shop_hidden li{
	border-bottom:  1px dashed #cccccc ;
	padding-bottom: 15px;
	width: 100%;
	margin-bottom: 13px;
	
}
.swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
 }
 .swiper-wrapper a{
 	display: block;
 	width: 100%;
 	
 }
 
 .swiper-wrapper img{
 	width: 100%;
 }
 .swiper-pagination-bullet{
 	
 	width: 50px;
 	height: 5px;
 	border-radius: 2px;
 	background-color: #ffffff;
 }
.swiper-button-prev{
	left: 70px;
	width: 40px;
	height: 100px;
}
.swiper-button-next{
	width: 40px;
	height: 100px;
	right: 70px;
}
.swiper-button-prev:hover,.swiper-button-next:hover{
	color: white;
	background-color: rgba(0,0,0,.3);
}
.left_nav{
	position: absolute;
	width: 30px;
	height:837px;
	background-color: #25211e;
	right: 0;
	top: 100%;
	padding-top: 143px;
}
.left_nav li:nth-of-type(1) a:hover{
	background-color: #c1b497;
}


.left_nav li:nth-of-type(1) a{
	z-index: 100;
	display: block;
	height: 32px;
	background: url(../img/allimg/tbren_03.png) no-repeat center center ;
	margin-bottom: 10px;
	position: relative;
}
.left_nav li:nth-of-type(2) a{
	display: block;
	height: 85px;
	padding-top: 35px;
	background: url(../img/allimg/shopcar_10.png) no-repeat top center ;
	text-align: center;
	margin-bottom: 10px;
}
.left_nav li:nth-of-type(3) a{
	display: block;
	height: 32px;
	background: url(../img/allimg/tabsxx_15.png) no-repeat center center ;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	margin-bottom: 10px;
}
.left_nav li:nth-of-type(4) a{
	display: block;
	height: 32px;
	background: url(../img/allimg/tabma_18.png) no-repeat center center ;
	margin-bottom:525px;
}
.left_nav li:nth-of-type(5) a{
	display: block;
	height: 32px;
	background: url(../img/allimg/dd_22.png) no-repeat center center ;
}
.left_nav li:nth-of-type(6) a{
	display: block;
	height: 32px;
	background: url(../img/allimg/tabshou_24.png) no-repeat center center ;
	border-top:1px solid #333333 ;
}
.tab_shopcar >a>div div:last-child{
	border-radius:50% ;
	width:20px ;
	height: 20px;
	
	background-color:#c1b497;
	margin: 10px auto 0;
}
.tab_shopcar >a>div div:first-child{
	font-size: 14px;
	color: #ffffff;
}
.ger{
	position: absolute;
	width: 100px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	color: #f7f6f3;
	background-color: #c1b497;
	left: -100px;
	display: none;
}
