/*悬浮框开始*/
.floating_ck {
	cursor: pointer;
	position: fixed;
	right: 10px;
	bottom: 5%;
	z-index: 99999999;
	box-shadow: 0px 0px 15px 5px #d6d6d6;
	background: #77af1e;
}
.floating_ck .box {
	text-align: center;
	line-height: 130px;
	font-weight: 600;
	font-size: 12px;
	width: 50px;
	height: 50px;
	border-bottom: 1px solid #eaeaea;
}
.floating_ck .box:hover{
	background-color: #4a7900;
}
.floating_ck .box:hover .car_nub{
	background-color: #4a7900;
}
.floating_ck .box2 .car_nub{
	line-height: 30px;
	font-size: 12px;
	width: 100%;
	font-weight: 100;
	color: #fff;
	background: #77af1e;
	display: block;
	text-align: center;
}
/*box1 S*/
.floating_ck .box1 {
	background: url(../images/return.png) center no-repeat;
}
/*box1 E*/



/*box2 S*/
.floating_ck .box2 {
	background: url(../images/car_f.png) center 25px no-repeat;
}

/*box2 E*/



/*box3 S*/
.floating_ck .box3 {
	background: url(../images/people.png) center no-repeat;
}
.floating_ck .box .box3_mask {
	display: none;
	position: absolute;
	right: 101%;
	top: 50px;
	background: #fff;
	padding: 15px;
	text-align: center;
	line-height: 1.6;
}
.floating_ck .box .box3_mask button{
	background: #77af1e;
	color: #fff;
	border-radius: 5px;
	border: none;
	padding: 5px 10px;
}
.floating_ck .box3:hover .box3_mask {
	width: 250%;
	display: block;
}
/*box3 E*/



/*box4 S*/
.floating_ck .box4 {
	background: url(../images/lx.png) center no-repeat;
}
.floating_ck .box .box4_mask {
	display: none;
	position: absolute;
	right: 101%;
	top: 100px;
	background: #fff;
	padding: 15px;
	text-align: left;
	line-height: 1.6;
}
.floating_ck .box4:hover .box4_mask {
	width:500%;
	display: block;
}
/*box4 E*/



/*box5  S*/
.floating_ck .box5 {
	background: url(../images/ewm.png) center no-repeat;
}
.floating_ck .box .box5_mask {
	display: none;
	position: absolute;
	right: 101%;
	bottom: 50px;
	background: #fff;
	padding: 15px;
}
.floating_ck .box5:hover .box5_mask {
	width: 250%;
	display: block;
}
/*box5 E*/


