<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>我的咨询</title>


<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_cart.css">
<link rel="stylesheet" type="text/css" href="../../css/User_center.css" />

</head>
<body>
<header id="header" class="fixed">
  <div class="header-wrap">
    <div class="header-l"> <a href="javascript:history.go(-1)"> <i class="back"></i> </a> </div>
    <div class="header-title">
      <h1>我的咨询</h1>
    </div>
    <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a> </div>
  </div>
  <div class="nctouch-nav-layout">
    <div class="nctouch-nav-menu"> <span class="arrow"></span>
      <ul>
        <li><a href="../../index.html"><i class="home"></i>首页</a></li>
        <li><a href="../search.html"><i class="search"></i>搜索</a></li>
        <li><a href="../product_first_categroy.html"><i class="categroy"></i>分类</a></li>
        <li><a href="javascript:void(0);"><i class="message"></i>消息<sup></sup></a></li>
        <li><a href="../cart_list.html"><i class="cart"></i>购物车<sup></sup></a></li>
        <li><a href="../member/member.html"><i class="member"></i>我的商城</a></li>
      </ul>
    </div>
  </div>
</header>


<div id="inquiry">
</div>
<script type="text/html" id="inquiry_list">
<% if (consult.length >0) { %>
	<ul>

		<% for (var i = 0;i<consult.length;i++){%>
		<li data-tid="<%=consult.consult_id%>">
			<div>
				<a href="../product_detail.html?goods_id=<%=consult[i].goods_id;%>">
				<img src="<%=consult[i].goods_image%>" />
				</a>
			</div>
			<div class="inq_">
				<div class="in_q">
					<div>我的咨询：</div>
					<div><%=consult[i].consult_content%></div>
					<div>[<%=consult[i].consult_addtime%>]</div>
				</div>
				<% if(consult[i].consult_reply){%>
				<div class="in_a">
					<div>客服回复：：</div>
					<div><%=consult[i].consult_reply%></div>
					<div>[<%=consult[i].consult_reply_time%>]</div>
				</div>
				
				<% } %>	
				
			</div>
			
		</li>
		<% } %>	
	</ul>
<%}else{%>
	 <div class="nctouch-norecord eval">
		 <div class="norecord-ico"><i></i></div>
		 <dl>
			 <dt>您还没有咨询过任何商品</dt>
			 
		 </dl>
		 <a href="../../index.html" class="btn">随便逛逛</a>
	 </div>

<% } %>	
</script>
	
	
	
	
	








<script type="text/javascript" src="../../js/zepto.min.js"></script> 
<script type="text/javascript" src="../../js/config.js"></script> 
<script type="text/javascript" src="../../js/template.js"></script> 
<script type="text/javascript" src="../../js/common.js"></script> 
<script type="text/javascript" src="../../js/simple-plugin.js"></script> 
<!-- <script type="text/javascript" src="../../js/MyJs.js"></script> -->
<script type="text/javascript" src="../../js/tmpl/inquiry.js"></script>
</body>
</html>