#show_title{
	
	height: 28px;
	line-height: 28px;
	padding-left: 10px;
	border-left: #c1b497 4px solid;
	font-size: 16px;
	color: #333333;
	margin-bottom: 15px;
	
}
#show_i{
	background-color: #ffffff;
	border: 1px #e4e4e4 solid;
	
}
#in_head{
	background-color: #f9f9f9;
	height: 39px;
	border-bottom:1px #e4e4e4 solid ;
	padding: 0 13px 0 25px;
	line-height: 39px;
	
}
#v_showi_{
	color: #c1b497;
}
#in_list{
	
	padding:0 13px 18px 25px ;
	
}
.row_goodsinfo{
	width: 350px;	
	
}
.row_price{
	width: 143px;
	
}
.row_buydate{
	width: 339px;
}
.row_assess{
	width: 142px;
}
#in_head>div{
	float: left;
	text-align: center;
	font-size: 14px;
	color: #333333;
}
#in_list>ul{
	height: 100px;
	border-bottom: 1px dashed #e4e4e4 ;
}
#in_list>ul>li{
	float: left;
	height: 100px;
}
.goods_image>div:first-child{
	width: 58px;
	height: 58px;
	border: 1px solid #e4e4e4;
	margin:  20px 10px 0 0;
	overflow: hidden;
	float: left;
	
}
.goods_image>div:last-child{
	float: left;
	color: #747474;
	line-height: 100px;
	
}
.info_row>li:nth-of-type(2),.info_row>li:nth-of-type(3){
	
	line-height: 100px;
	color: #747474;
	text-align: center;
	
}
.info_row>li:nth-of-type(4){
	line-height: 100px;
	color: #005ea7;
	text-align: center;
}

.info_row>li:nth-of-type(4):hover{
	cursor: pointer;
}



#leg_page{
	margin-top: 20px;	
	overflow: hidden;
	float: right;
}
#leg_page div{
	float: left;
	
}
#uppage:hover,.pageye:hover,#downpage:hover,#change:hover{
	cursor: pointer;
}
#uppage{
	
	width: 62px;
	height: 26px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	line-height: 28px;
	margin-right: 6px;
	text-align: center;
}
.pageye{
	width: 36px;
	height: 26px;
	border: 1px solid #cccccc;
	text-align: center;
	line-height:28px ;
	color: #cccccc;
	margin-right:6px ;
}
.pageye.currentpage{
	border: 1px solid #c1b497;
	color: #c1b497;
	
	
}
#downpage{
	
	width: 62px;
	height: 26px;
	border: 1px solid #c1b497;
	background-color: #ffffff;
	line-height: 28px;
	margin-right: 6px;
	text-align: center;
}
#assess_table{
	display: none;
	position: absolute;
	width: 980px;
	height: 390px;
	border: 5px #dbdbdb solid;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 100;
	background-color: #ffffff;
}
.tab_head{
	height: 50px;
	line-height: 50px;
	padding: 0 23px 0 13px;
	
}
.tab_head>div:first-child{
	float: left;
	font-size: 14px;
	font-family: "宋体";
	color: #333333;	
}
#table_close{
	width: 10px;
	height: 10px;
	background: url(../img/vipcore/cha_03.jpg);
	float: right;
	margin-top: 15px;
	
}

#table_close:hover{
	cursor: pointer;
	
}

#discuss_c{
	padding: 0 23px 0 160px;
}
#score,#review{
	overflow: hidden;
}
#score>div:first-child, #review>div:first-child, #show_inde>div:first-child>div:first-child{
	padding-left: 12px;
	color: #333333;
	background: url(../img/indent/xx_03.jpg) no-repeat left top;
	margin-right: 32px;
	
}
#score>div,#review>div{
	float: left;
	
}
#show_inde>div:first-child>div{
	float: left;
}
#score>div:last-child li{
	float: left;
	width:20px;
	margin-right: 8px;
	height: 20px;
	background: url(../img/vipcore/x2_09.jpg);
}
#score>div:last-child li.addstart{
	
	background: url(../img/vipcore/x1_07.jpg);
	
}
#score>div:last-child li:hover{
	cursor: pointer;
}
#show_inde>div{
	overflow: hidden;
}

#review textarea{
	width: 560px;
	height: 62px;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
	resize: none;
	padding: 10px;
}
.limit_str{
	
	margin-left: 477px;
	color: #a1a1a1;
}
.limit_str span{
	color: #d32726;
}
#add_image{
	width:98px ;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fbfaf9;
	background-color: #c1b497;
}
#add_image:hover{
	cursor: pointer;
}
.upload_image>div{
	margin-right: 11px;
	font-size: 14px;
	color: #666666;
	float: left;
	line-height:32px ;
}

#publish >div{
	float: left;
}

#appear:hover{
	cursor: pointer;
}

#appear{
	width:89px;
	height: 32px;
	line-height: 32px;
	padding-left: 53px;
	color: #ffffff;
	background: url(../img/vipcore/fabiao_03.jpg) no-repeat  25px center #c1b497;
	margin: 32px 0 0 75px;
	margin-right: 18px;
	
}
#review{
	margin: 33px 0 25px 0;
}
#publish>div:last-child{
	margin-top: 38px;
	
}
#publish input{
	vertical-align: text-bottom;
	width: 14px;
	height: 14px;
	border: 1px solid #e4e4e4;
	margin-right: 10px;
}

#publish label{
	font-size: 14px;
	color: #333333;
	
}



