<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>消息列表</title>
<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/MyCss.css" />

</head>
<body>
<header id="header">
  <div class="header-wrap">
    <div class="header-l"> <a href="javascript:history.go(-1)"> <i class="back"></i> </a> </div>
    <div class="header-title">
      <h1>我的消息</h1>
    </div>
    <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more bgc-t"></i><sup></sup></a> </div>
  </div>
  <div class="nctouch-nav-layout">
    <div class="nctouch-nav-menu"> <span class="arrow"></span>
      <ul>
        <li><a href="../../index.html"><i class="home"></i>首页</a></li>
        <li><a href="../search.html"><i class="search"></i>搜索</a></li>
         <li><a href="../product_first_categroy.html"><i class="categroy"></i>分类</a></li>
        <li><a href="../cart_list.html"><i class="cart"></i>购物车<sup></sup></a></li>
        <li><a href="../member/member.html"><i class="member"></i>我的商城</a></li>
      </ul>
    </div>
  </div>
</header>
<div class="nctouch-main-layout" id="my_chat_list">
	<div id="chat_head">
				<div class="head_cha">
					<input type="checkbox" id="all" class="checkall"/>
				</div>
				<div class="cl_btn" id="all_meglist">
					<label>全选</label>
				</div>
				<div class="cl_btn" id="del_all">
						删除选中信息
				</div>
			</div>
  <ul class="nctouch-message-list" id="messageList">

  </ul>
  
  <!-- 	<div class="more_btn">
  		查看更多
  	</div> -->
  	
</div>  

<script type="text/html" id="messageListScript">
<% if (message_info) { %>
<% for (var i=0;i<message_info.length;i++) {%>
    <li>
            <div class="mes_head">
            <div class="mes_cha">
                    <input type="checkbox" class="checkitem" value="<%=message_info[i].message_id%>"/>
                </div>
            <div><% if(message_info[i].message_type == 1) { %>系统通知 <%}else{ %>留言<%}%></div>
            <div class="mes_del">
                <img src="../../images/hjimage/ljb_03.jpg" id="del_<%=message_info[i].message_id%>" class="del_mes"/>
            </div>
            </div>
            <div class="mes_cli">
                <div class="ses_con">
                    <div>
                发送时间：<span><%=message_info[i].message_time%></span>
                </div>
                
                <div>
                    消息标题：<span class="creata"><%=message_info[i].message_title%></span>
                </div>
                
                <div class="mes_tip">
                    <%=message_info[i].message_jiandan%>
                </div>
            </div>
            <div class="mes_bot">
            </div>
            </div>
    </li>













<% } %>
<% } %>
</script>




<script type="text/javascript" src="../../js/zepto.min.js"></script> 
<script type="text/javascript" src="../../js/config.js"></script> 
<script type="text/javascript" src="../../js/template.js"></script> 
<script type="text/javascript" src="../../js/common.js"></script> 
<script type="text/javascript" src="../../js/simple-plugin.js"></script> 
<script type="text/javascript" src="../../js/MyJs.js"></script>
<script type="text/javascript" src="../../js/tmpl/chat_list.js"></script>


</body>
</html>